#lienValide {
	color: red;
}

.btn {
	background-color: #5AB318;
	color: #FBFBD3;
	border: none;
	padding: 2px 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.btn:hover {
	border: none;
	background-color: #FBFBD3;
	color: #5AB318;
	padding: 2px 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}

div#entete {
	float: left;
	width: 100%;
	min-height: 110px;
	margin-bottom: 2%;
	background-color: #FBFBD3;
}

div#banniere {
	float: left;
	width: 60%;
	min-height: 110px;
	text-align: center;
	font-size: 90px;
	font-family: cursive; /**/
	background-color: #FBFBD3;
	vertical-align: top;
}

div#formuRapide {
	float: left;
	width: 35%;
	background-color: #CEFFAA;
	color: #5AB318;
	border: 2px solid #5AB318;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#menu {
	float: left;
	background-color: #FBFBD3;
	width: 30%; /*taille 30% de la taille de l'écran*/
	margin-right: 5%;
	color: #5AB318;
}

div#corps {
	float: left; /*pour mettre le corps a gauche*/
	width: 65%; /*taille de 65% de la taille de la page*/
	background-color: #FBFBD3;
}

span#erreur,div#erreur {
	color: red; /*pour faire ressortir les erreurs ont les met en rouge*/
}

div#image,div#infoAnnonce,div#infoVendeur {
	float: left;
	margin-bottom: 70px;
	height: 100px;
}

div#image {
	width: 10%;
	/*background-color: blue;/**/
}

div#infoAnnonce {
	width: 40%;
	margin-left: 5%;
	margin-right: 10%;
	/*background-color: red;/**/
}

div#infoVendeur {
	width: 35%;
	/*background-color: yellow;/**/
}

div#enchere,div#description {
	clear: left;
	margin-bottom: 2%;
	width: 100%;
}

body {
	width: 90%;
	/*sur la page on ne va utiliser que 80% de l'espace disponible*/
	margin: auto; /*pour centrer le contenu au milieu de la page*/
	margin-top: 2%;
	/*pour faire l'espace avec le bord supérieur de la page*/
	color: gray; /*couleur grise pour tout le texte*/
	font-family: fantasy, cursive; /**/
	background-color: #FBFBD3;
}

label {
	display: block;
	width: 40%;
	float: left;
}

input,select,textarea {
	width: 48%;
	float: left;
	/*border-radius: 10px 10px 10px 10px;/**/
}

textarea {
	height: 60px;
}

table {
	margin: auto;
	width: 100%;
	text-align: center;
}

a {
	color: #5AB318;
}

a:HOVER {
	color: appworkspace;
	text-decoration: underline overline;
}